:root {
	--univ_div_padding: 5px;
	--univ_top: 8px;
	--univ_left: 8px;
	--univ_wid: 450px; /* 45vw; */
	/* --univ_wid_min: 600px; */
	--univ_wid_min: 850px;
	--univ_wid_max: 850px;
	--univ_ht: 80vh; 
	--scndry_wid: 600px; 
	--univ_font_sz: 12px;
	--univ_border_color: black;
	--univ_bg_color: white; 
	--univ_border_wid: 1px;
	--univ_border_styl: solid;
}

h1 {
	color: black;
}
h2 {
	color: rgb(100, 100, 100); 
	font-size: 16pt; 
	font-style: normal;
	font-variant-caps: small-caps;
	text-indent: 0pt;
	/*top: 10px;olor: red;
	font-size: 12pt;
	text-indent: 8pt;
	/* line-height: 12pt; */
	font-style: italic;
	line-height: 6pt;
}
h3 {
	font-size: 14pt; 
	line-height: 6pt;
	font-variant-caps: small-caps;
	color: red;
	top: 0px;
	bottom: 0px; 
}
h4 {
	color: black;
	font-size: 12pt;
	/* text-indent: 8pt; */
	line-height: 0pt; 
}

body {
	color: grey;
	background-color: lightblue;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: justify;	
	position: relative;	
	/* right: var(--univ_left); */
	/* margin-left: 8px;
	margin-right: 8px;	 */
	/* margin-top: 0px;
	margin-bottom: 0px; */
}
.container {
	background-color: darkorange;
	max-height: 800px;
	min-height: 300px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	
}
.sudo_area {
	background-color: darkslategrey;
	width: auto;
	margin-left: auto;
	margin-right:auto;
	position: relative;
	display: block;
	height: 100px;
	padding: 3px;
	
}
.sudo {
	background-color: dimgray;
	width: 75px;
	padding: 0px;
	display: block;
	position: relative;
	float: inline-start;
	padding: 2px;
	margin-left: auto;
	margin-right: auto;
}
.covid19 {
	left: 900px;
	font-size: 10pt;
	font-style: italic;
	text-align: left;
	display: block;
	position: absolute; 
	background-color: red;
	color: white;
	padding: 2px; 
	padding-left: 4px;
	padding-right: 4px;
	/* margin-right: auto;
	margin-left: auto; */
	max-width: 200px;
	border-width: 0px;
	height: 625px; 
	overflow-y: scroll;
	border-style: solid;
	border-color: darkgray;
	border-radius: 8px;
}
.headshot {
	margin: 0px;
	padding: 0px;
	left: 0px;
}
.headshot img {
	border-radius: 50%;
}
div {
	/* top: 10px; */
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 4px;
	margin-left: 4px;
	margin-right: 4px;
	display: block;
  	background-color: var(--univ_bg_color);
  	background-color: black;
}

.splash_header {
	/* padding-left: 0px;
	padding-right: 0px; */
	/* top: 8px; */
	right: 0px; 
    position:relative;
	background-color: var(--univ_bg_color);
	overflow: hidden;
	word-wrap: break-word; 
    height:108px;
	max-width: var(--univ_wid_max);
	min-width: var(--univ_wid_min);
	/* padding: var(--univ_div_padding);
	padding-bottom: 10px;
	padding-top: 0px; */
	font-size: 12px;    
	text-align: justify;
    color: rgb(200, 200, 200);
    /* top: 10px;
    left: 8px; */
	/* font-variant: small-caps;  */
	font-variant: normal;	
	/* right: var(--univ_left); */

}

.splash_logo {
	background-color: transparent;
	/* margin-left: 0px; */
	/* display: block; */
	left: 2px;
	height:80px;
	width: 80px;
    border-radius: 0px;
	position: absolute;
    padding: 0px;
	font-size: 12px;
	top: 4px; 
	bottom: 4px;   
    text-align: justify;
    color: #3a3a3a;
    /* z-index: 100; */
	/* right: var(--univ_left);
    top: 5px;
    left: 5px */
}
.splash_logo img {
	border-radius: 8px;
}

.splash_nav {
	background-color: orange;
	background-color: var(--univ_bg_color);
	position:relative;
	max-width: var(--univ_wid_max);
	min-width: var(--univ_wid_min);
	/* min-height: 30px; */
}
.splash_body {
	position: relative;
	padding-top: 8px;
	padding-bottom: 8px;
	/* top: 0px;  */
	max-height: 3000px;	
	margin-top: 0px;
	background-color: var(--univ_bg_color);
	max-width: var(--univ_wid_max);
	min-width: var(--univ_wid_min);
}

.proj {
	background-color: var(--univ_bg_color);
	word-wrap: break-word;
	text-align: left;
	overflow: hidden;
	position: relative;
	margin: 0px; 
	padding: 0px;
	
}

.proj img{
	/* border-radius: 50px; */
	position: relative;
	margin: 0px;
	/* padding: 8px; */
	/* padding-top: 16px; */
	padding-right: 4px;
	padding-bottom: 4px;
}


.gtfs {
	margin: 0xp;
	padding: 0px; 
	position: relative;

}
.gtfs img {
	position: relative;
	padding-right: 8px;
	padding-bottom: 8px;
	
}
.game {
	background-color: var(--univ_bg_color);
}

.game img {
	border-radius: 0%;
	background-color: transparent;
}
.scrd {
	display: none;
}
.scrb_ltrs_scr {
	display: none;
}
.scr_rps {
	display: none;
}
script {
	display: block;
}
.scr_val_area {
	display: none;
}

/* ##################### */

/* .splash_body {
	top: var(--univ_top);
	top: 0px;
	max-width: var(--univ_wid_max);
	min-width: var(--univ_wid_min);
	min-height: 200px;
	left: var(--univ_left);
	right: var(--univ_left);
	background-color: white;
	font-variant: normal;
	text-align: justify;
	border-radius: 4px;
	padding-left: var(--univ_div_padding);
	padding-right: var(--univ_div_padding);
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	bottom: 0px;	
}




.canvas {
	display: none;
}

.splash_body .headshot {
	background-color: transparent;
	position: relative;
	left: 0px;
	padding-left: 0px;

}

.splash_body .body_sub_L {
	line-height: 4px;
	top: var(--univ_top);
	left: var(--univ_left); 
	right: var(--univ_left);
	padding: 4px;
	padding: var(--univ_div_padding);
	width: 210px;
	height: 40px;
	position: absolute;
	text-align: center;	
	border-radius: 4px;
}

.splash_body .body_sub_R {
	line-height: 4px;
	transform: rotate(00deg);
	top: var(--univ_top);
	right: var(--univ_left); 
	padding: 4px;
	padding: var(--univ_div_padding);
	width: 210px;
	height: 40px;
	position: absolute;
	text-align: center;	
	border-radius: 4px;
}

.splash_header {
	overflow: hidden;
	background-color: white; 
	word-wrap: break-word; 
    height:100px;
	max-width: var(--univ_wid_max);
	min-width: var(--univ_wid_min);
    border-radius: 4px;
    position:relative;
	padding: var(--univ_div_padding);
	padding-bottom: 10px;
	padding-top: 0px;
	font-size: 12px;    
	text-align: justify;
    color: rgb(200, 200, 200);
    top: 10px;
    left: 8px;
	font-variant: small-caps; 
	font-variant: normal;	
	right: var(--univ_left);
}
.splash_header .splash_logo {
	margin-left: 0px;
	display: block;
	background-color: #d6fae8; 
	height:80px;
	width: 80px;
    border-radius: 0px;
	position:absolute;
    padding: 0px;
    font-size: 12px;    
    text-align: justify;
    color: #3a3a3a;
    z-index: 100;
    
	right: var(--univ_left);
    top: 5px;
    left: 5px
}
.splash_nav {
	position: relative; 
	max-width: var(--univ_wid_max);
	min-width: var(--univ_wid_min);
	min-height: 25px; 
	padding-right: var(--univ_div_padding);
	padding-left: var(--univ_div_padding);
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: justify; 	
	background-color: var(--univ_bg_color);
	background-color: orange;
	font-size: 14px;
	top: 0px; 
	left: 8px;
	bottom: 0px;
	right: var(--univ_left);
	line-height: 0px;
	border-radius: 4px;
	font-variant: none;
	color: grey;
}
.splash_nav .nav_sub {
	position: relative;
	margin: auto;
	width: var(--univ_wid_max-2px);
	min-height: 25px; 
	padding: var(--univ_div_padding);
	text-align: left; 
	background-color: greenyellow;
	font-size: 14px;
	border-radius: 4px;
	font-variant: none;
	color: grey;
}
.footer {
	max-width: var(--univ_wid_max);
	min-width: var(--univ_wid_min);
	height: 50px;
	top: 0px;
	background-color: white;
	font-size: 12px;
	text-align: left;
	color: #3a3a3a;
	position: relative;
	left: 8px;
	right: var(--univ_left);
	font-variant: normal;
	font-weight: normal;
	border-radius: 4px;
	padding: 10px;
	padding: var(--univ_div_padding);
	position: relative;
}
script {
	display: block;
}

 */