:root {
    --univ_div_padding: 3px;
	--univ_top: 8px;
	--univ_left: 8px;
	--univ_wid: 600px; /* 45vw; */
	--univ_wid_max: 600px;
	--univ_ht: 80vh; 
	--scndry_wid: 600px; 
	--univ_font_sz: 12px;
	--univ_border_color: black;
	--univ_border_wid: 1px;
	--univ_border_styl: solid;
}

div {
    padding: var(--univ_div_padding);
    border-radius: 2px;
    background-color: gold;
    top: var(--univ_top);
    width: var(--univ_wid);
    text-overflow: ellipsis;
    overflow: visible;
}

body {
    padding: var(--univ_div_padding);    
    background-color: rgb(200, 200, 200);
    top: var(--univ_top);
}

.header {
    
	word-wrap: break-word; 
    text-align: center;
    color: darkblue;
    z-index: 200;
    font-variant: small-caps; 
    position: relative;
    top: 3px;
    height: 60px;
}

.body_cont {
    height: 33px;
    position: relative;
}