:root {
	--univ_div_padding: 5px;
	--univ_top: 8px;
	--univ_left: 8px;
	--univ_wid: 450px; /* 45vw; */
	--univ_wid_max: 850px;
	--univ_ht: 80vh; 
	--scndry_wid: 600px; 
	--univ_font_sz: 12px;
	--univ_border_color: black;
	--univ_bg_color: white; 
	--univ_border_wid: 1px;
	--univ_border_styl: solid;
}

h1 {
	color: black;
}
h2 {
	color: rgb(100, 100, 100); 
	font-size: 16pt; 
	font-style: normal;
	font-variant-caps: small-caps;
	text-indent: 0pt;
	line-height: 12pt;
}
h3 {
	color: red;
	font-size: 12pt;
	text-indent: 8pt;
	line-height: 12pt;
	font-style: italic;
}
h4 {
	color: black;
	font-size: 12pt;
	text-indent: 8pt;
	line-height: 0pt;
}

body {
	color: grey;
	background-color: var(--univ_bg_color);
	background-color: lightblue;
	/* height: 200px;	 */
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	/* font-size: 14px;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none; */
	text-align: justify;	
	position: relative;
}

div {
	margin-left: auto;
	margin-right: auto;
  display: block;
  background-color: var(--univ_bg_color);
  background-color: black;
}

.splash_body {
	top: 21px; 
	width: var(--univ_wid_max);
	min-height: 710px;
	left: var(--univ_left);
	background-color: white;
	font-variant: normal;
	text-align: justify;
	/* font-weight: bold; */
	border-radius: 4px;
	/* padding: 10px; */
	padding: var(--univ_div_padding);
	position: relative;
}

.splash_body .resume {
	background-color: var(--univ_bg_color);
	text-indent: 16pt;
	line-height: 3pt;
}
.splash_body .body_special_update{
	top: 65px;
	top: var(--univ_top);
	left: var(--univ_left);
	min-height: 55px;
	width: 435px;
	border-radius: 4px;
	position: absolute;
	padding: var(--univ_div_padding);
	background-color: greenyellow;
}

.splash_body .body_sub_L {
	line-height: 4px;
	top: var(--univ_top);
	left: var(--univ_left); 
	padding: 4px;
	padding: var(--univ_div_padding);
	width: 210px;
	height: 40px;
	position: absolute;
	text-align: center;	
	border-radius: 4px;
}

.splash_body .body_sub_R {
	line-height: 4px;
	transform: rotate(00deg);
	top: var(--univ_top);
	right: var(--univ_left); 
	padding: 4px;
	padding: var(--univ_div_padding);
	width: 210px;
	height: 40px;
	position: absolute;
	text-align: center;	
	border-radius: 4px;
}

.splash_body .body_sub_bot {
	top: 550px;
	transform: rotate(00deg);
	left: 8px;
	padding: 10px;
	padding: var(--univ_div_padding);
	width: 435px; 
	min-height: 150px;
	position: absolute;
	text-align: left;	
	border-radius: 4px;
}

.splash_header {
	overflow: hidden;
	background-color: white; 
	word-wrap: break-word; 
    height:100px;
	width: var(--univ_wid_max);
    border-radius: 4px;
    position:relative;
	padding: 0px;
	padding: var(--univ_div_padding);
	padding-bottom: 10px;
	padding-top: 0px;
	font-size: 12px;    
	text-align: justify;
    color: rgb(200, 200, 200);
    z-index: 200;
    right: 0;
    top: 10px;
    left: 8px;
	font-variant: small-caps; 
	font-variant: normal;
}
.splash_header .splash_logo {
	margin-left: 0px;
	display: block;
	background-color: #d6fae8; 
	height:80px;
	width: 80px;
    border-radius: 0px;
	position:absolute;
    padding: 0px;
    font-size: 12px;    
    text-align: justify;
    color: #3a3a3a;
    z-index: 100;
    right: 0;
    top: 5px;
    left: 5px
}
.splash_contact {
	width: 460px;
	height: 25px;
	padding: 4px;
	padding: var(--univ_div_padding);
	text-align: center;
	background-color: white;
	font-size: 14px;
	top: 15px; 
	left: 8px;
	line-height: 0px;
	text-align: center;
	border-radius: 4px;
	font-variant: none;
	color: grey;
	position: relative;
}
.splash_nav {
	position: relative; 
	width: var(--univ_wid_max);
	min-height: 25px; 
	padding: var(--univ_div_padding);
	text-align: justify; 
	/* text-indent: 40vw; */
	background-color: white;
	background-color: var(--univ_bg_color);
	font-size: 14px;
	top: 15px; 
	left: 8px;
	line-height: 0px;
	border-radius: 4px;
	font-variant: none;
	color: grey;
}
.splash_nav .nav_sub {
	position: relative;
	margin: auto;
	width: var(--univ_wid_max-2px);
	min-height: 25px; 
	padding: var(--univ_div_padding);
	text-align: left; 
	/* text-indent: 40vw; */
	background-color: greenyellow;
	
	font-size: 14px;
	/* top: 0px; 
	left: 0px; */
	/* line-height: 0px; */
	border-radius: 4px;
	font-variant: none;
	color: grey;
}
.footer {
	width: var(--univ_wid_max);
	height: 50px;
	top: 28px;
	/* background-color: white;
	background-color: var(--univ_bg_color); */
	font-size: 12px;
	text-align: left;
	color: #3a3a3a;
	position: relative;
	left: 8px;
	font-variant: normal;
	font-weight: normal;
	border-radius: 4px;
	padding: 10px;
	padding: var(--univ_div_padding);
	position: relative;
}
script {
	display: block;
}

