:root {
    --univ_div_padding: 0px;
	--univ_top: 1px;
	--univ_left: 8px;
	--univ_wid: 600px; /* 45vw; */
    --univ_wid_max: 100vw;
	--univ_ht: 80vh; 
	--scndry_wid: 600px; 
	--univ_font_sz: 12px;
	--univ_border_color: black;
	--univ_border_wid: 1px;
	--univ_border_styl: solid;
}

div {
    padding: var(--univ_div_padding);
    border-radius: 2px;
    background-color: gold;
    top: var(--univ_top);
    min-height: 33px;
    /* min-width: 100px; */
    max-width: var(--univ_wid_max);
    text-overflow: ellipsis;
    overflow: visible;
}

body {
    /* padding: var(--univ_div_padding);     */
    background-color: rgb(200, 200, 200);
    top: var(--univ_top);
}

.header {
    
	word-wrap: break-word; 
    text-align: left;
    color: darkblue;
    z-index: 200;
    font-variant: small-caps; 
    position: relative;
    top: 3px;
    height: 60px;
}

.body_cont {
    
    position: relative;
}

.topic {
    background-color: darkred;
    position: relative;
    min-width: 400px;
}
.body_cont .topic .img_c {
    width: 400px;
    padding: 10px;
    position: relative;
    background-color: transparent;
}