:root {
	--univ_div_padding: 5px;
	--univ_top: 8px;
	--univ_left: 8px;
	--univ_wid: 450px; /* 45vw; */
	--univ_wid_max: 97vw;
	--univ_ht: 80vh; 
	--scndry_wid: 600px; 
	--univ_font_sz: 12px;
	--univ_border_color: black;
	--univ_border_wid: 1px;
	--univ_border_styl: solid;
}


body {
	color: grey;
	background-color: AntiqueWhite;
	height: 200px;	
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
	text-transform: none;
	text-align: justify;
	transform: rotate(-00deg);
	
}
h1 {
	font-variant: small-caps;
	/* background-color: AntiqueWhite; */
	color: grey;
	/* font-size: 12px; */
}
h2 {
	/* font-weight: bold; */
	color: grey;
}
h3 {
	color: grey;
}
div {
  display: block;
  background-color: #d6fae8;
}

.splash_body {
	/* transform: rotate(-03deg); */
    /* right: 0px; */
	top: 21px; 
	/* left: 8px; */
	/* padding: 12px; */
	width: 1200px; /* 450px; */
	/* min-width: var(--univ_wid); 
	max-width: var(--univ_wid_max); */
	min-height: 710px;
    /* top: 26px; */
    left: var(--univ_left);
	background-color: red;/*white;*/
	font-variant: normal;
	font-weight: bold;
	border-radius: 4px;
	padding: 10px;
	position: relative;
}
.splash_body .body_special_update{
	top: 65px;
	left: var(--univ_left);
	min-height: 55px;
	width: 435px;
	border-radius: 4px;
	position: absolute;
	padding: 10px;
	background-color: greenyellow;
}

.splash_body .body_sub_L {
	line-height: 4px;
	/* transform: rotate(00deg); */
	top: var(--univ_top);
	left: var(--univ_left); 
	/* position: relative; */
	padding: 4px;
	width: 210px;
	height: 40px;
	position: absolute;
	text-align: center;	
	border-radius: 4px;
}

.splash_body .body_sub_R {
	line-height: 4px;
	transform: rotate(00deg);
	top: var(--univ_top);
	right: var(--univ_left); 
	/* position: relative; */
	padding: 4px;
	width: 210px;
	height: 40px;
	position: absolute;
	text-align: center;	
	border-radius: 4px;
}

.splash_body .body_sub_bot {
	top: 550px;
	transform: rotate(00deg);
	left: 8px;
	/* position: relative; */
	padding: 10px;
	width: 435px; 
	min-height: 150px;
	position: absolute;
	text-align: left;	
	border-radius: 4px;
}

.splash_header {
	overflow: hidden;
	/* transform: rotate(-03deg); */
	/* background-color: #d6fae8; */
	background-color: white; 
	word-wrap: break-word; 
    height:100px;
	width: var(--univ_wid_max);
    border-radius: 4px;
    position:relative;
	padding: 0px;
	padding-bottom: 10px;
	/* padding-inline-end: 0px; */
	padding-top: 0px;
	font-size: 12px;    
	text-align: justify;
    /* color: #3a3a3a; */
	color: rgb(200, 200, 200);
    z-index: 200;
    right: 0;
    top: 10px;
    left: 8px;
	
	font-variant: small-caps; 
	font-variant: normal;
	/* color: black; */
	/* font-size: 30px; */
}
.splash_header .splash_logo {
	/* transform: rotate(00deg); */
	display: block;
	background-color: #d6fae8; 
	height:80px;
	width: 80px;
    border-radius: 0px;
	position:absolute;
    padding: 0px;
    font-size: 12px;    
    text-align: justify;
    color: #3a3a3a;
    z-index: 100;
    right: 0;
    top: 5px;
    left: 5px
}
.splash_contact {
	/* transform: rotate(-03deg); */
	width: 460px;
	height: 25px;
	padding: 4px;
	text-align: center;
	background-color: white;
	font-size: 14px;
	top: 15px; 
	left: 8px;
	line-height: 0px;
	text-align: center;
	border-radius: 4px;
	font-variant: none;
	color: grey;
	/* padding: 0.5px; */
	position: relative;
}
.splash_nav {
	position: relative; 
	width: var(--univ_wid_max);
	height: 25px; 
	padding: 4px; 
	text-align: justify; 
	text-indent: 40vw;
	background-color: white;
	font-size: 14px;
	top: 15px; 
	left: 8px;
	line-height: 0px;
	border-radius: 4px;
	font-variant: none;
	color: grey;
}
.footer {
	/* transform: rotate(00deg); */
	width: 450px;
	height: 50px;
	top: 28px;
	/* background-color: white; */
	background-color: white;
	font-size: 12px;
	text-align: left;
	color: #3a3a3a;
	position: relative;
	left: 8px;
	font-variant: normal;
	font-weight: normal;
	border-radius: 4px;
	padding: 10px;
	position: relative;
}
script {
	display: block;
}

/* item1 {
  grid-area: myArea;
}
.grid-container {
  display: grid;
  grid:
    'myArea myArea . . .'
    'myArea myArea . . .';
}/* 

/* Predefined color names include aqua, black, blue, 
fuchsia, gray, green, lime, maroon, navy, olive, 
purple, red, silver, teal, white, and yellow. 
transparent is also a valid value. */ 
/* on margins and padding nextlesson */